node-red-flows/flows_simulated.json
[
  {
    "id": "tab_tanksim",
    "type": "tab",
    "label": "TankSim",
    "disabled": false,
    "info": ""
  },
  {
    "id": "ui_tab_tanksim",
    "type": "ui_tab",
    "name": "TankSim",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui_group_status",
    "type": "ui_group",
    "name": "Status",
    "tab": "ui_tab_tanksim",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "ui_group_sensors",
    "type": "ui_group",
    "name": "Sensors",
    "tab": "ui_tab_tanksim",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "ui_group_control",
    "type": "ui_group",
    "name": "Control",
    "tab": "ui_tab_tanksim",
    "order": 3,
    "disp": true,
    "width": "6",
    "collapse": false
  },

  {
    "id": "inject_poll",
    "type": "inject",
    "z": "tab_tanksim",
    "name": "Poll tank every second",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "1",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 80,
    "wires": [["http_get_state"]]
  },
  {
    "id": "http_get_state",
    "type": "http request",
    "z": "tab_tanksim",
    "name": "GET /state",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://tank-sim:5000/state",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "x": 380,
    "y": 80,
    "wires": [
      [
        "fn_level",
        "fn_pressure",
        "fn_pump_status",
        "fn_s_low",
        "fn_s_medium",
        "fn_s_high"
      ]
    ]
  },

  {
    "id": "fn_level",
    "type": "function",
    "z": "tab_tanksim",
    "name": "Extract level",
    "func": "msg.payload = msg.payload.level_cm;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 40,
    "wires": [["g_level","chart_level"]]
  },
  {
    "id": "fn_pressure",
    "type": "function",
    "z": "tab_tanksim",
    "name": "Extract pressure",
    "func": "msg.payload = msg.payload.pressure;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 640,
    "y": 90,
    "wires": [["g_pressure"]]
  },
  {
    "id": "fn_pump_status",
    "type": "function",
    "z": "tab_tanksim",
    "name": "Extract pump_on",
    "func": "msg.payload = msg.payload.pump_on ? \"ON\" : \"OFF\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 650,
    "y": 140,
    "wires": [["txt_pump"]]
  },
  {
    "id": "fn_s_low",
    "type": "function",
    "z": "tab_tanksim",
    "name": "Sensor LOW",
    "func": "msg.payload = msg.payload.s_low;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 630,
    "y": 200,
    "wires": [["g_s_low"]]
  },
  {
    "id": "fn_s_medium",
    "type": "function",
    "z": "tab_tanksim",
    "name": "Sensor MED",
    "func": "msg.payload = msg.payload.s_medium;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 640,
    "y": 250,
    "wires": [["g_s_med"]]
  },
  {
    "id": "fn_s_high",
    "type": "function",
    "z": "tab_tanksim",
    "name": "Sensor HIGH",
    "func": "msg.payload = msg.payload.s_high;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 640,
    "y": 300,
    "wires": [["g_s_high"]]
  },

  {
    "id": "g_level",
    "type": "ui_gauge",
    "z": "tab_tanksim",
    "name": "",
    "group": "ui_group_status",
    "order": 1,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "Water level (cm)",
    "label": "cm",
    "format": "{{value}}",
    "min": 0,
    "max": 100,
    "colors": ["#00b500","#e6e600","#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 880,
    "y": 40,
    "wires": []
  },
  {
    "id": "g_pressure",
    "type": "ui_gauge",
    "z": "tab_tanksim",
    "name": "",
    "group": "ui_group_status",
    "order": 2,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "Pressure",
    "label": "bar",
    "format": "{{value}}",
    "min": 0,
    "max": 1,
    "colors": ["#00b500","#e6e600","#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 880,
    "y": 90,
    "wires": []
  },
  {
    "id": "txt_pump",
    "type": "ui_text",
    "z": "tab_tanksim",
    "group": "ui_group_status",
    "order": 3,
    "width": 6,
    "height": 1,
    "name": "",
    "label": "Pump status",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 890,
    "y": 140,
    "wires": []
  },
  {
    "id": "chart_level",
    "type": "ui_chart",
    "z": "tab_tanksim",
    "name": "",
    "group": "ui_group_status",
    "order": 4,
    "width": 6,
    "height": 4,
    "label": "Level history",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "no data",
    "dot": false,
    "ymin": "0",
    "ymax": "100",
    "removeOlder": "60",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": ["#1f77b4","#aec7e8","#ff7f0e"],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 900,
    "y": 190,
    "wires": [[]]
  },

  {
    "id": "g_s_low",
    "type": "ui_gauge",
    "z": "tab_tanksim",
    "name": "",
    "group": "ui_group_sensors",
    "order": 1,
    "width": 2,
    "height": 2,
    "gtype": "donut",
    "title": "LOW",
    "label": "",
    "format": "{{value}}",
    "min": 0,
    "max": 1,
    "colors": ["#555555","#00b500","#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 890,
    "y": 240,
    "wires": []
  },
  {
    "id": "g_s_med",
    "type": "ui_gauge",
    "z": "tab_tanksim",
    "name": "",
    "group": "ui_group_sensors",
    "order": 2,
    "width": 2,
    "height": 2,
    "gtype": "donut",
    "title": "MED",
    "label": "",
    "format": "{{value}}",
    "min": 0,
    "max": 1,
    "colors": ["#555555","#00b500","#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 890,
    "y": 290,
    "wires": []
  },
  {
    "id": "g_s_high",
    "type": "ui_gauge",
    "z": "tab_tanksim",
    "name": "",
    "group": "ui_group_sensors",
    "order": 3,
    "width": 2,
    "height": 2,
    "gtype": "donut",
    "title": "HIGH",
    "label": "",
    "format": "{{value}}",
    "min": 0,
    "max": 1,
    "colors": ["#555555","#00b500","#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 890,
    "y": 340,
    "wires": []
  },

  {
    "id": "btn_pump_on",
    "type": "ui_button",
    "z": "tab_tanksim",
    "name": "",
    "group": "ui_group_control",
    "order": 1,
    "width": 3,
    "height": 1,
    "passthru": false,
    "label": "Pump ON",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "play_arrow",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 180,
    "y": 360,
    "wires": [["fn_cmd_wrap"]]
  },
  {
    "id": "btn_pump_off",
    "type": "ui_button",
    "z": "tab_tanksim",
    "name": "",
    "group": "ui_group_control",
    "order": 2,
    "width": 3,
    "height": 1,
    "passthru": false,
    "label": "Pump OFF",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "stop",
    "payload": "false",
    "payloadType": "bool",
    "topic": "",
    "x": 190,
    "y": 410,
    "wires": [["fn_cmd_wrap"]]
  },
  {
    "id": "fn_cmd_wrap",
    "type": "function",
    "z": "tab_tanksim",
    "name": "Wrap pump_on command",
    "func": "msg.headers = {\"Content-Type\":\"application/json\"};\nmsg.payload = JSON.stringify({ pump_on: msg.payload });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 460,
    "y": 385,
    "wires": [["http_command"]]
  },
  {
    "id": "http_command",
    "type": "http request",
    "z": "tab_tanksim",
    "name": "POST /command",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://tank-sim:5000/command",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "x": 710,
    "y": 385,
    "wires": [[]]
  }
]

