node-red-flows/flows_simulated.json
[
    {
        "id": "751db66ae21c7d98",
        "type": "tab",
        "label": "TankSim",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ui_tab_tanksim",
        "type": "ui_tab",
        "name": "TankSim",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_group_status",
        "type": "ui_group",
        "name": "Status",
        "tab": "ui_tab_tanksim",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_sensors",
        "type": "ui_group",
        "name": "Sensors",
        "tab": "ui_tab_tanksim",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_control",
        "type": "ui_group",
        "name": "Control",
        "tab": "ui_tab_tanksim",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6dcda594da59b4f7",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "560bb83d9eb7f984",
        "type": "inject",
        "z": "751db66ae21c7d98",
        "name": "Poll tank every second",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "d49ff797c27c2a17"
            ]
        ]
    },
    {
        "id": "d49ff797c27c2a17",
        "type": "http request",
        "z": "751db66ae21c7d98",
        "name": "GET /state",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://tank-sim:5000/state",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 220,
        "wires": [
            [
                "b750b421178c8df2",
                "96b6fed8b6e5ad45",
                "9716583720958867",
                "b4f9363c220ee3a2",
                "1a4290a975b89707",
                "418ffd61282cd35e",
                "2f8b288e380358ef",
                "6aa2b0ada9c5997b",
                "64b1ea7da227b4cd",
                "131eaf84f91ab309",
                "228d88becef0588a"
            ]
        ]
    },
    {
        "id": "b750b421178c8df2",
        "type": "function",
        "z": "751db66ae21c7d98",
        "name": "Extract level",
        "func": "msg.payload = msg.payload.level_cm;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 100,
        "wires": [
            [
                "b3132a1fe42473bb",
                "226df10d057e594b"
            ]
        ]
    },
    {
        "id": "96b6fed8b6e5ad45",
        "type": "function",
        "z": "751db66ae21c7d98",
        "name": "Extract pressure",
        "func": "msg.payload = msg.payload.pressure;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 140,
        "wires": [
            [
                "46ff79b211e8996a"
            ]
        ]
    },
    {
        "id": "9716583720958867",
        "type": "function",
        "z": "751db66ae21c7d98",
        "name": "Extract pump_on",
        "func": "msg.payload = msg.payload.pump_on ? \"ON\" : \"OFF\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 180,
        "wires": [
            [
                "3f833c96c5d50917"
            ]
        ]
    },
    {
        "id": "b4f9363c220ee3a2",
        "type": "function",
        "z": "751db66ae21c7d98",
        "name": "Sensor LOW",
        "func": "msg.payload = msg.payload.s_low;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 220,
        "wires": [
            [
                "3125053d17bc0709"
            ]
        ]
    },
    {
        "id": "1a4290a975b89707",
        "type": "function",
        "z": "751db66ae21c7d98",
        "name": "Sensor MED",
        "func": "msg.payload = msg.payload.s_medium;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 260,
        "wires": [
            [
                "1f6ccc93c44946e7"
            ]
        ]
    },
    {
        "id": "418ffd61282cd35e",
        "type": "function",
        "z": "751db66ae21c7d98",
        "name": "Sensor HIGH",
        "func": "msg.payload = msg.payload.s_high;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 300,
        "wires": [
            [
                "f4e21688aa11e0ba"
            ]
        ]
    },
    {
        "id": "291b526d39979cce",
        "type": "function",
        "z": "751db66ae21c7d98",
        "name": "Wrap pump_on command",
        "func": "let on = (msg.payload === true || msg.payload === 1 || msg.payload === \"on\");\n\nlet body = {\n    pump_on: on,\n    pump_power: on ? 100 : 0\n};\n\nmsg.headers = { \"Content-Type\": \"application/json\" };\nmsg.payload = JSON.stringify(body);\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 600,
        "wires": [
            [
                "a8e63b5e120b0412"
            ]
        ]
    },
    {
        "id": "3cb832c68ce2cd85",
        "type": "http request",
        "z": "751db66ae21c7d98",
        "name": "POST /command",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://tank-sim:5000/command",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1530,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "d1d4eef678a9836c",
        "type": "function",
        "z": "751db66ae21c7d98",
        "name": "Pump power command",
        "func": "let val = Number(msg.payload);\nif (isNaN(val)) val = 0;\nif (val < 0) val = 0;\nif (val > 100) val = 100;\n\nmsg.headers = { \"Content-Type\": \"application/json\" };\nmsg.payload = JSON.stringify({ pump_power: val });\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 460,
        "wires": [
            [
                "a8e63b5e120b0412"
            ]
        ]
    },
    {
        "id": "2f8b288e380358ef",
        "type": "function",
        "z": "751db66ae21c7d98",
        "name": "Pump power value",
        "func": "// /state returns an object with pump_power 0–100\nvar p = msg.payload.pump_power;\nif (p === undefined || p === null) {\n    p = 0;\n}\nmsg.payload = Number(p);   // chart expects a number\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 340,
        "wires": [
            [
                "c41d4c8f123869b8"
            ]
        ]
    },
    {
        "id": "6aa2b0ada9c5997b",
        "type": "function",
        "z": "751db66ae21c7d98",
        "name": "Pump power display",
        "func": "// pull pump_power from state into slider\nmsg.payload = msg.payload.pump_power;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 460,
        "wires": [
            [
                "e4d21d3192fd255d"
            ]
        ]
    },
    {
        "id": "64b1ea7da227b4cd",
        "type": "function",
        "z": "751db66ae21c7d98",
        "name": "Auto pump controller",
        "func": "// Auto pump controller, runs on every /state poll\nlet s = msg.payload;\n\n// target comes from TankSim state\nlet TARGET = s.target_cm;\nif (TARGET === undefined || TARGET === null) TARGET = 50;\n\nconst FAR_BAND = 10;    // cm below target where we start ramping\nconst BASE_HOLD = 25;   // minimum power near target to fight leak\n\n\nif (!s.pump_on) {\n    // Pump is off, do not send anything\n    return null;\n}\n\nlet level = s.level_cm;\nlet error = TARGET - level;   // cm below target\n\nlet power;\n\n// At or above target: cut power completely\nif (error <= 0) {\n    power = 0;\n\n} else if (error >= FAR_BAND) {\n    // Far from target: full power, we want to get there quickly\n    power = 100;\n\n} else {\n    // Close to target: linear ramp between BASE_HOLD and 100\n    // error in (0..FAR_BAND) -> x in (0..1)\n    let x = error / FAR_BAND;\n\n    // Linear ramp, not squared, so it does not drop too early\n    power = BASE_HOLD + (100 - BASE_HOLD) * x;\n}\n\n// Integers only\npower = Math.round(power);\nif (power < 0) power = 0;\nif (power > 100) power = 100;\n\n// Build command for backend\nmsg.headers = { \"Content-Type\": \"application/json\" };\nmsg.payload = JSON.stringify({\n    pump_on: true,\n    pump_power: power\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 500,
        "wires": [
            [
                "a8e63b5e120b0412"
            ]
        ]
    },
    {
        "id": "5ae6b68ad1c2c810",
        "type": "function",
        "z": "751db66ae21c7d98",
        "name": "Wrap leak_rate command",
        "func": "const leak_rate = Number(msg.payload);\n\nmsg.headers = { \"Content-Type\": \"application/json\" };\nmsg.payload = JSON.stringify({ leak_rate });\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 380,
        "wires": [
            [
                "a8e63b5e120b0412"
            ]
        ]
    },
    {
        "id": "131eaf84f91ab309",
        "type": "function",
        "z": "751db66ae21c7d98",
        "name": "leak_rate",
        "func": "msg.payload = msg.payload.leak_rate;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 380,
        "wires": [
            [
                "365b11d8f5e3c1dc"
            ]
        ]
    },
    {
        "id": "228d88becef0588a",
        "type": "function",
        "z": "751db66ae21c7d98",
        "name": "Extract target_cm",
        "func": "msg.payload = msg.payload.target_cm;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 420,
        "wires": [
            [
                "54772a7c25fc8be0"
            ]
        ]
    },
    {
        "id": "dbf222233928d44a",
        "type": "function",
        "z": "751db66ae21c7d98",
        "name": "Wrap target command",
        "func": "const t = Number(msg.payload);\nmsg.headers = { \"Content-Type\": \"application/json\" };\nmsg.payload = JSON.stringify({ target_cm: t });\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 420,
        "wires": [
            [
                "a8e63b5e120b0412"
            ]
        ]
    },
    {
        "id": "5ffb356c8b0bd48c",
        "type": "ui_button",
        "z": "751db66ae21c7d98",
        "name": "",
        "group": "ui_group_control",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Pump ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "play_arrow",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 800,
        "y": 580,
        "wires": [
            [
                "291b526d39979cce"
            ]
        ]
    },
    {
        "id": "02e66d5f9785900d",
        "type": "ui_button",
        "z": "751db66ae21c7d98",
        "name": "",
        "group": "ui_group_control",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Pump OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "stop",
        "payload": "false",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 810,
        "y": 630,
        "wires": [
            [
                "291b526d39979cce"
            ]
        ]
    },
    {
        "id": "e4d21d3192fd255d",
        "type": "ui_slider",
        "z": "751db66ae21c7d98",
        "name": "",
        "label": "Pump power",
        "tooltip": "",
        "group": "ui_group_control",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 870,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "365b11d8f5e3c1dc",
        "type": "ui_slider",
        "z": "751db66ae21c7d98",
        "name": "",
        "label": "Drain (cm/s)",
        "tooltip": "",
        "group": "ui_group_control",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "5",
        "step": "0.5",
        "className": "",
        "x": 810,
        "y": 380,
        "wires": [
            [
                "5ae6b68ad1c2c810"
            ]
        ]
    },
    {
        "id": "3f833c96c5d50917",
        "type": "ui_text",
        "z": "751db66ae21c7d98",
        "group": "ui_group_status",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Pump status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 910,
        "y": 180,
        "wires": []
    },
    {
        "id": "54772a7c25fc8be0",
        "type": "ui_numeric",
        "z": "751db66ae21c7d98",
        "name": "",
        "label": "Target (cm)",
        "tooltip": "",
        "group": "ui_group_control",
        "order": 5,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 850,
        "y": 420,
        "wires": [
            [
                "dbf222233928d44a"
            ]
        ]
    },
    {
        "id": "b3132a1fe42473bb",
        "type": "ui_gauge",
        "z": "751db66ae21c7d98",
        "name": "",
        "group": "ui_group_status",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Water level (cm)",
        "label": "cm",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 920,
        "y": 100,
        "wires": []
    },
    {
        "id": "46ff79b211e8996a",
        "type": "ui_gauge",
        "z": "751db66ae21c7d98",
        "name": "",
        "group": "ui_group_status",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Pressure",
        "label": "bar",
        "format": "{{value}}",
        "min": 0,
        "max": 1,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 900,
        "y": 140,
        "wires": []
    },
    {
        "id": "3125053d17bc0709",
        "type": "ui_gauge",
        "z": "751db66ae21c7d98",
        "name": "",
        "group": "ui_group_sensors",
        "order": 1,
        "width": 2,
        "height": 2,
        "gtype": "donut",
        "title": "LOW",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 1,
        "colors": [
            "#555555",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 890,
        "y": 220,
        "wires": []
    },
    {
        "id": "1f6ccc93c44946e7",
        "type": "ui_gauge",
        "z": "751db66ae21c7d98",
        "name": "",
        "group": "ui_group_sensors",
        "order": 2,
        "width": 2,
        "height": 2,
        "gtype": "donut",
        "title": "MED",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 1,
        "colors": [
            "#555555",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 890,
        "y": 260,
        "wires": []
    },
    {
        "id": "f4e21688aa11e0ba",
        "type": "ui_gauge",
        "z": "751db66ae21c7d98",
        "name": "",
        "group": "ui_group_sensors",
        "order": 3,
        "width": 2,
        "height": 2,
        "gtype": "donut",
        "title": "HIGH",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 1,
        "colors": [
            "#555555",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 890,
        "y": 300,
        "wires": []
    },
    {
        "id": "226df10d057e594b",
        "type": "ui_chart",
        "z": "751db66ae21c7d98",
        "name": "",
        "group": "ui_group_control",
        "order": 7,
        "width": 6,
        "height": 4,
        "label": "Level ",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "no data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "60",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "c41d4c8f123869b8",
        "type": "ui_chart",
        "z": "751db66ae21c7d98",
        "name": "",
        "group": "ui_group_control",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Pump power",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "60",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "a8e63b5e120b0412",
        "type": "function",
        "z": "751db66ae21c7d98",
        "name": "SECLOG",
        "func": "// Security-focused audit log for control actions (Node-RED -> tank-sim)\n// Logs only commands (not every /state poll)\n\n// Try to capture the command payload in a consistent way\nconst payload = msg.payload || {};\nconst cmdType =\n  payload.type || payload.command || payload.action || msg.topic || \"command\";\n\n// Minimal but useful audit event\nconst evt = {\n  ts: new Date().toISOString(),\n  component: \"node-red\",\n  event_type: \"control_action\",\n  cmd: cmdType,\n  payload: payload,\n  flow: \"TankSim\",\n  src_node: \"SECLOG: command audit\"\n};\n\nevt.marker = \"SECLOG_MARKER_123\";\n\n// Write JSON to Node-RED logs (stdout)\nnode.warn(JSON.stringify(evt));\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 540,
        "wires": [
            [
                "3cb832c68ce2cd85"
            ]
        ]
    }
]